h4{
    color: black;
}

.speech{
    color: black;
}

.stage-direction{
    background-color: #F0F8FF;
}

.stage-direction:hover{
    color: black;
    background-color: yellow;
}

.MICHAEL{
    color:tomato;
}

.PRES{
    color:turquoise;
}

.CONSPIRATORS{
    color:violet;
}

.MICH{
    color:teal;
}

.ALEXIS{
    color: bisque;
}

.PROFESSOR{
    color:cyan;
}

.PROF{
    color:darkgray;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }


